<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home page</title>
  </head>
  <body>
    <h1>Heya im a home page</h1>
    <ul class="message_success">
      <% if(messages.success_msg) { %>
      <li><%= messages.success_msg %></li>
      <% } %>
    </ul>
       
        
            <table>
                <tr>
                <th>Done</th>
                <th>To-do thing</th>
                <th>Name & Surname</th>
                <th>Time created</th>
                <th>Date created</th>
                <th>Time done</th>
                <th>Date done</th>
                
            </tr>
            <% for (let i=0; i<allListToDo.length; i++){ %>
            <tr>
                <td><form action="/done" method="POST" class="form_tick_done"><input type="checkbox"  name="item_id" value="<%=allListToDo[i].item_id%>">
                 
                  
                </td>
                <td><%= allListToDo[i].item_to_do%></td>
                <td><%= allListToDo[i].firstname%> <%= allListToDo[i].secondname%></td>
                <td><%= allListToDo[i].time_created%></td>
                <td><%= allListToDo[i].date_created%></td>
                <td><%= allListToDo[i].time_done%></td>
                <td><%= allListToDo[i].date_done%></td>

             
            </tr>
            <% }%>
            
            </table>
            <button type="submit">Done</button>
          </form>
          
           
          
     

    <form action="/create" method="POST" class="create_new_to_do">
      <div>
        <textarea
          name="item_to_do"
          rows="1"
          cols="40"
          required
          placeholder=" "
        ></textarea>
        <label for="item_to_do">What do you want to do?</label>
        <div class="requirements">What do you want?!</div>
      </div>
      <input type="submit" value="Create new task" />
    </form>
  </body>
</html>
